.main{
  header{
    &.feed-header{
      margin: 0;
      padding: 32px 0 0;
      background: rgb(51, 51, 51) url("//d36xtkk24g8jdx.cloudfront.net/bluebar/d8a6bc2/images/profile/noise-black.png") 50% 50%;
      background-image: url("//d36xtkk24g8jdx.cloudfront.net/bluebar/d8a6bc2/images/profile/profile-header-gradient.png"), url("//d36xtkk24g8jdx.cloudfront.net/bluebar/d8a6bc2/images/profile/noise-black.png");
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.5) inset;
      -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.2), 0 1px 3px rgba(0,0,0,.5) inset;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.5) inset;
      position: relative;
      overflow: hidden;
    }
  }
}